[submodule "CI-0122_b78292"]
	path = CI-0122_b78292
	url = https://github.com/rigovil/CI-0122_b78292
[submodule "Entregas/CI0122"]
	path = Entregas/CI0122
	url = https://github.com/rigovil/CI0122
[submodule "ci0123"]
	path = ci0123
	url = https://git.ucr.ac.cr/RODRIGO.VILCHEZ/ci0123.git
[submodule "Entregas/ci0123"]
	path = Entregas/ci0123
	url = https://git.ucr.ac.cr/RODRIGO.VILCHEZ/ci0123
[submodule "CI-0123/ci0123_proyecto_piro"]
	path = CI-0123/ci0123_proyecto_piro
	url = https://git.ucr.ac.cr/JOSUE.SEQUEIRA/ci0123_proyecto_piro
[submodule "CI-0123/--force"]
	path = CI-0123/--force
	url = https://git.ucr.ac.cr/JOSUE.SEQUEIRA/ci0123_proyecto_piro
